body{
	font-family: "Titillium Web",'DIN Pro','Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'	
}

header{
	margin: 0px 15px 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #E4E2D7;

}

header section{
	min-width: 370px;
	max-width: 970px;
}

header section#Logo{
	padding: 20px;
	display: flex;
	align-items: center
}
img.logo{
	min-width: 156px;
	min-height: 60px;
	
}

header section#Hotline{
	margin-right: 20px; 
	padding: 2px;
	background-color: #a79e62;
	border-radius:30px;
	min-width: 200px;
	width: 260px;
	height: 100px;
	text-align: center;
	color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


header img{
	margin: 20px;
	mim-width:100px;
	max-width: 180px;
	max-height: 180px;
	min-height: 100px;
}

header h1{
	margin: 15px;
	font-size:36px;
}

header h2{
	font-size: 22px;
	margin: 3px;
}
header p{
    font-size: 22px;
	padding: 10px;	
	margin: 3px;
}

nav{
	background-color: #7F9455;
}

nav ul{
	list-style-type: none;
	margin: 20px;
	padding: 0px;
	display:flex;
	justify-content: center;
	min-width: 370px;
	max-width: 970px;
	margin: 0px auto 0px auto;
	
}
nav a{
    color: #FFFFFF;
    padding-top: 10px;
    padding-right: 90px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	background-color: #a79e62;
	color: antiquewhite
}

section#Banner{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('ZAFADesignhub.png');;
	padding: 15% 10%;
	background-size: cover;
	background-position: center;
	background-repeat: none;
	align-items: center
}
h2.NEWS1{
	color:white;
	font-size: 48px;
	padding: 5px;
}
   
a.donatebtn{
    display: block;
    width: 230px;
    padding: 5px;
    border-radius: 36px;
    background-color: #726D46;
    color: #FFFFFF;
    text-decoration: none;
	position: relative;
    text-align: center;
	font-weight: bold;
	font-size: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


section#Banner h1{
	text-align: center;
	color:white;
	font-size: 54px;
	
}

.donatebtn:hover{
	background-color: white;
	color: #726D46;
}

section#About{
	display:flex;
	min-width: 370px;
	max-width: 970px;
	margin: 70px auto;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#About article{
	margin-right: 3%;
}

section#About img{
	
	width: 50%;
	height:50%;
}

section#Quote{
    text-align: center;
    background-color: #7F9455;
    color: #fff;
    padding: 2%;
	font-size: 24px;
    min-width: 200px;
    max-width: 970px;
	margin: 10px auto;
	border-radius: 50px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#E-Adivice, section#FAQ,section#ContactNews{
	display:flex;
	min-width: 370px;
	max-width: 970px;
	margin: 50px auto;
	justify-content:space-between
}
section#E-Adivice article{
	background-color: white;
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#E-Adivice form input{
	width: 90%;
	padding: 5%;
}
section#E-Adivice aside{
	background-color: #7F9455;
	color: white;
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 2%;
}


section#MD aside{
	background-image: image url("file:///E|/Diploma of DM/SEM1/Int1/Assignments/AT3/WEV/DNTAIMG.jpg");
	padding: 8%
}

section#MD{
	display: flex;
	justify-content: space-between;
	min-width: 370px;
    max-width: 970px;
	margin: 10px auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#MD iframe{
	max-width: 600px;
}

section#donate{
    background-image: url("file:///E|/Diploma of DM/SEM1/Int1/Assignments/AT3/WEV/DNTAIMG.jpg");
	padding: 8% 22%;
	background-size: cover;
	background-position: center;
	background-repeat: none;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#FAQ article{
	background-color: white;
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	max-width: 700px;
}
section#FAQ aside{
	margin: 2%;
	background-color: #E4E2D7;
	padding: 3%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

section#FAQ aside ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 1.75em;
}

section#FAQ aside a:hover{
	color:#1B1B10;
}

section#ContactNews article{
	background-color: white;
	padding: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
section#ContactNews form input{
	width: 90%;
	padding: 5%;
}
section#ContactNews aside{
	margin: 2%;
	background-color: #E4E2D7;
	padding: 3%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
section#ContactNews form{
	text-align: center;
}

input.sbmbtn{
	width: 50%;
	background-color: white;
	color:#7F9455;
	padding: 5px;
	margin: 10px auto;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

footer{
	background-color:#E4E2D7; 
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-between;
	
}

footer article{
    min-width: 370px;
    max-width: 970px;
	background-color: white;
	padding: 20px;
	margin: 125px auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


.active, .accordion:hover {
  background-color: #ccc;
}



 .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer svg{
	width:50px
}

@media only screen and (max-width:600px){
	body h1{
		font-size: 24px
	}
	body h2{
		font-size: 20px
	}
	body h3{
		font-size: 16px
	}
	body p{
		font-size: 12px
	}
	nav ul{
	    flex-direction: column;
	}
	header{
		flex-direction: column;
		padding-bottom: 20px
	}
	section#Banner,section#About,section#E-Adivice,section#MD,section#FAQ,#ContactNews,footer{
		flex-direction: column;
	}
	section#About img,section#Quote,section#E-Adivice article,section#FAQ article,section #FAQ aside{
		width: 90%;
		margin: 0px;
	}
	a.donatebtn{
		display:inline-block;
		margin-top: 20px;
	}
	section#Banner,section#donate{
		text-align: center
	}
}
	
	
